[submodule "ms-config/kafka-server"]
	path = ms-config/kafka-server
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-kafka-server.git
[submodule "ms-config/config-server"]
	path = ms-config/config-server
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-config-server.git
[submodule "ms-config/eureka-discovery-server"]
	path = ms-config/eureka-discovery-server
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-eureka-discovery-server.git
[submodule "composer/produccion"]
	path = composer/produccion
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-produccion.git
[submodule "composer/apareamiento"]
	path = composer/apareamiento
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-apareamiento.git
[submodule "composer/ventas"]
	path = composer/ventas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ventas.git
[submodule "composer/finanzas"]
	path = composer/finanzas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-finanzas.git
[submodule "composer/personal"]
	path = composer/personal
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-personal.git
[submodule "composer/infraestructura"]
	path = composer/infraestructura
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-infraestructura.git
[submodule "composer/integracion"]
	path = composer/integracion
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-integracion.git
[submodule "composer/salud"]
	path = composer/salud
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-salud.git
[submodule "composer/inventario"]
	path = composer/inventario
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-inventario.git
[submodule "salud/ms-historial-medico"]
	path = salud/ms-historial-medico
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-historial-medico.git
[submodule "salud/ms-procedimientos-medicos"]
	path = salud/ms-procedimientos-medicos
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-procedimientos-medicos.git
[submodule "salud/ms-consultas"]
	path = salud/ms-consultas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-consultas.git
[submodule "salud/ms-vacunas"]
	path = salud/ms-vacunas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-vacunas.git
[submodule "salud/ms-tratamientos"]
	path = salud/ms-tratamientos
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-tratamientos.git
[submodule "inventario/ms-lotes"]
	path = inventario/ms-lotes
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-lotes.git
[submodule "inventario/ms-animales"]
	path = inventario/ms-animales
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-animales.git
[submodule "inventario/ms-alimentos"]
	path = inventario/ms-alimentos
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-alimentos.git
[submodule "apareamientos/ms-partos"]
	path = apareamientos/ms-partos
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-partos.git
[submodule "apareamientos/ms-cruces"]
	path = apareamientos/ms-cruces
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-cruces.git
[submodule "apareamientos/ms-planificacion-cruces"]
	path = apareamientos/ms-planificacion-cruces
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-planificacion-cruces.git
[submodule "apareamientos/ms-optimizacion-cruces"]
	path = apareamientos/ms-optimizacion-cruces
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-optimizacion-cruces.git
[submodule "apareamientos/ms-genealogia"]
	path = apareamientos/ms-genealogia
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-genealogia.git
[submodule "produccion/ms-produccion-leche"]
	path = produccion/ms-produccion-leche
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-produccion-leche.git
[submodule "produccion/ms-produccion-carne"]
	path = produccion/ms-produccion-carne
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-produccion-carne.git
[submodule "produccion/ms-control-calidad"]
	path = produccion/ms-control-calidad
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-control-calidad.git
[submodule "produccion/ms-alimentacion-suplementos"]
	path = produccion/ms-alimentacion-suplementos
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-alimentacion-suplementos.git
[submodule "integracion/ms-conexiones-externas"]
	path = integracion/ms-conexiones-externas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-conexiones-externas.git
[submodule "infraestructura/ms-infraestructura"]
	path = infraestructura/ms-infraestructura
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-infraestructura.git
[submodule "personal/ms-usuarios"]
	path = personal/ms-usuarios
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-usuarios.git
[submodule "finanzas/ms-contabilidad"]
	path = finanzas/ms-contabilidad
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-contabilidad.git
[submodule "ventas/ms-inventario-ventas"]
	path = ventas/ms-inventario-ventas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-inventario-ventas.git
[submodule "ventas/ms-ventas"]
	path = ventas/ms-ventas
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-ventas.git
[submodule "ventas/ms-mercado"]
	path = ventas/ms-mercado
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-mercado.git
[submodule "ventas/ms-clientes"]
	path = ventas/ms-clientes
	url = https://github.com/Rancho-Smart-Proyecto-de-Grado/rancho-smart-ms-clientes.git
